.slideshow {
  box-sizing: border-box;
  width: 100%;
  max-height: 400px;
  height: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#imagePane {
  position: relative;
}
#text-pane {
  background-color: #1c1c1c;
  padding: 1.2vw;
  box-sizing: border-box;
  color: #fcfcfc;
  font-size: 20px;
}
.pane {
  max-width: 600px;
  max-height: 400px;
  width: 45vw;
  height: 30vw;
}
.slide {
  max-width: 600px;
  max-height: 400px;
  width: 45vw;
  height: 30vw;
  background-color: #1c1c1c;
  position: absolute;
}
